<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ site_name }}</title>

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.bunny.net">
        <link href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap" rel="stylesheet" />


    </head>
<body>
    {% load i18n %}

    {% block subject %}
    {% blocktrans %} Activación de la cuenta en {{ site_name }}{% endblocktrans %}
    {% endblock subject %}

    {% block html_body %}

    <section style=
        "padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
        background-color: #ffffff;
        max-width: 42rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh; "
    >
        <header style=
            "display: flex;
            flex-direction: row;
            justify-content: center;"
        >
            <img style=
                "width: 15rem;
                height: 15rem;
                "
            src="https://drive.google.com/uc?id=100sH7jYglQERsn3Nu5P-W-UaE7XYE_Z0" alt="Logo de {{ site_name }}">
        </header>

        <main>
            <h2 style="color: #374151;">Hola,</h2>

            <p style=
                "margin-top: 1rem;
                margin-bottom: 1rem;
                color: #4B5563;
                line-height: 2;"
            >
                Por favor, haga clic en el botón de abajo para verificar su dirección de correo electrónico de <span class="font-semibold ">{{ site_name }}</span>.
            </p>


            <a href="{{ protocol }}://{{ domain }}/{{ url|safe }}" style=
                "padding-top: 0.625rem;
                padding-bottom: 0.625rem;
                padding-left: 1.25rem;
                padding-right: 1.25rem;
                margin-right: 0.5rem;
                margin-bottom: 0.5rem;
                background-color: #FFAD6B;
                color: #ffffff;
                font-size: 0.875rem;
                line-height: 1.25rem;
                font-weight: 500;
                border-radius: 0.5rem;
                text-decoration: none"
            >
                Verificar cuenta
            </a>



            <p style=
                "margin-top: 2rem;
                color: #4B5563;
                line-height: 2;"
            >
                Si tiene problemas para hacer clic en el botón "Verificar cuenta",
                copie y pegue la siguiente URL en su navegador web: {{ protocol }}://{{ domain }}/{{ url|safe }}
            </p>

            <p style=
                "margin-top: 2rem;
                margin-bottom: 2rem;
                color: #4B5563;"
            >
                Gracias, <br>
                Equipo <b>{{ site_name }}</b>
            </p>

        </main>
    </section>

    {% endblock html_body %}
</body>
</html>
